html
    head
        title Home
        link(rel="stylesheet"  type="text/css" href="public/css/style.css")
        link(rel="stylesheet" type="text/css" href="public/css/test.css")
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="public/scripts/q.js")
        script(src="public/scripts/underscore.js")
        script(src="public/scripts/app.js")
    body
        .feed Test Element